{% extends 'base.html' %}

{% block title %} Quiz {% endblock %}

{% block content %}
	<div class="banner">
		<h1>Quiz DCP</h1>
	</div>
	<div class="space"></div>
	<form method="POST">
		<div class="grid">
			<div>
				Comment les lois et les réglementations sur la sécurité de l'information sont assurées et appliquées au sein de l'entreprise ?
			</div>
			<div>
				<fieldset>
					<label for="r11">
					<input type="radio" id="r1" name="dcp1" value="r11" checked>
					Des personnes sont chargées d'effectuer une veille règlementaire et sont veillées de suivre le respect de la confidentialité des données.
					</label>
					<label for="r12">
					<input type="radio" id="r2" name="dcp1" value="r12">
					Des évaluations des risques de conformité aux lois et aux règlements sont mises en places. Des plans d'actions sont réalisés en cas d'écart.
					</label>
					<label for="r13">
					<input type="radio" id="r3" name="dcp1" value="r13">
					Je ne sais pas.
					</label>
				</fieldset>
			</div>
		</div>
		<div class="space"></div>
		<div class="line"></div>
		<div class="space"></div>
		<div class="grid">
			<div>
				Des documents d'engagement relatif à la protection des données existent-il dans votre entreprise ?
			</div>
			<div>
				<fieldset>
					<label for="r21">
					<input type="radio" id="r21" name="dcp2" value="r21" checked>
					Des documents engageant les collaborateurs : politique de confidentialité ; clause dans le contrat
					</label>
					<label for="r22">
					<input type="radio" id="r22" name="dcp2" value="r22">
					Des documents engageant l'entreprise : politique de protection des données, engagement dans la protection des données,…
					</label>
					<label for="r23">
					<input type="radio" id="r23" name="dcp2" value="r23">
					Je ne sais pas.
					</label>
				</fieldset>
			</div>
		</div>
		<div class="space"></div>
		<div class="line"></div>
		<div class="space"></div>
		<div class="grid">
			<div>
				Un / plusieurs collaborateurs sont ils désignés pour veiller au respect des exigences du RGPD au sein de votre entreprise ?
			</div>
			<div>
				<fieldset>
					<label for="r31">
					<input type="radio" id="r31" name="dcp3" value="r31" checked>
					Oui.
					</label>
					<label for="r32">
					<input type="radio" id="r32" name="dcp3" value="r32">
					Non.
					</label>
					<label for="r33">
					<input type="radio" id="r33" name="dcp3" value="r33">
					Je ne sais pas.
					</label>
				</fieldset>
			</div>
		</div>
		<div class="space"></div>
		<div class="line"></div>
		<div class="space"></div>
		<div class="grid">
			<div>
				Des 
				<em data-tooltip="(vidéos, conseils…)">communications spécifiques</em>
				pour sensibiliser les collaborateurs à la protection des données et de la vie privée ainsi qu'aux 
				<em data-tooltip="(cyber-attaques, négligence, malveillances, …)">risques associés</em> 
				ont-elle été délivrées au sein de votre entreprise ?
			</div>
			<div>
				<fieldset>
					<label for="r41">
					<input type="radio" id="r41" name="dcp4" value="r41" checked>
					Des guides de bonnes pratiques, et documents de sensibilisation sont partagées au sein de votre entreprise. +  L'entreprise communique, rappelle et forme régulièrement ses collaborateurs sur la sensibilisation du RGPD.
					</label>
					<label for="r42">
					<input type="radio" id="r42" name="dcp4" value="r42">
					Des guides de bonnes pratiques, et documents de sensibilisation sont partagées au sein de votre entreprise
					</label>
					<label for="r43">
					<input type="radio" id="r43" name="dcp4" value="r43">
					Je ne sais pas.
					</label>
				</fieldset>
			</div>
		</div>
		<div class="space"></div>
		<div class="line"></div>
		<div class="space"></div>
		<div class="grid">
			<div>
				Qui, dans votre entreprise, est chargé de veiller à la mise à jour du registre des activités de traitement de données personnelle qui sont utiles à la gestion des ressources humaines ?
			</div>
			<div>
				<fieldset>
					<label for="r51">
					<input type="radio" id="r51" name="dcp5" value="r51" checked>
					Un service est chargé de réguler l'activité et mettre à jour le traitement de données personnelles
					</label>
					<label for="r52">
					<input type="radio" id="r52" name="dcp5" value="r52">
					Il n'y a pas de registre de traitement de données personnelles
					</label>
					<label for="r53">
					<input type="radio" id="r53" name="dcp5" value="r53">
					Je ne sais pas.
					</label>
				</fieldset>
			</div>
		</div>
		<div class="space"></div>
		<div class="line"></div>
		<div class="space"></div>
		<div class="grid">
			<div>
				Les durées maximum de conservation des données sont elles assurées ?
			</div>
			<div>
				<fieldset>
					<label for="r61">
					<input type="radio" id="r61" name="dcp6" value="r61" checked>
					Un service assure la réglementation concernant la durée de conservation des données.
					</label>
					<label for="r62">
					<input type="radio" id="r62" name="dcp6" value="r62">
					Non.
					</label>
					<label for="r63">
					<input type="radio" id="r63" name="dcp6" value="r63">
					Je ne sais pas.
					</label>
				</fieldset>
			</div>
		</div>
		<div class="space"></div>
		<div class="line"></div>
		<div class="space"></div>
		<div class="grid">
			<div>
				Lors d'une violation des données à caractère personnelles, un processus est-il assuré dans votre entreprise ?
			</div>
			<div>
				<fieldset>
					<label for="r71">
					<input type="radio" id="r71" name="dcp7" value="r71" checked>
					Oui.
					</label>
					<label for="r72">
					<input type="radio" id="r72" name="dcp7" value="r72">
					Non.
					</label>
					<label for="r73">
					<input type="radio" id="r73" name="dcp7" value="r73">
					Je ne sais pas.
					</label>
				</fieldset>
			</div>
		</div>
		<div class="space"></div>
		<div class="grid">
			<div></div>
			<div></div>
			<button type="submit">Envoyer</button>
			<div></div>
			<div></div>
		</div>
	</form>
{% endblock %}