[data-theme="light"] {
  --primary: #c3c3ca;
  --primary-hover: #abc1ff;
  --primary-focus: #0094C6;
  --primary-inverse: #005E7C;
}

:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

p {
  text-align: justify;
}

body {
  max-width: fit-content;
  margin-inline: auto;
  padding: 2rem;
}

footer {
  text-align: center;
  font-size: x-small;
}

img {
  display: block;
  margin: 0 auto;
}

.text_div {
  max-width: 33rem;
}

article {
  font-style: italic;
  background-color: #c3c3ca;
  box-shadow: 6px 6px var(--primary);
}

#map {
  font-style: italic;
  padding-inline: 20%;
  margin: 0 auto;
}

#map button {
  padding: 0;
  background-color: var(--primary);
}

#b1 {
  width: 20%;
  background-color: var(--primary);
}

iframe {
  border:0; 
  height: 90vh;
  width: 90vw;
}

.flag_img {
  display: inline;
}

.result_lose {
  color: red;
  font-size: x-large;
  font-weight: 900;
  text-align: center;
}

.result_win {
  color: green;
  font-size: x-large;
  font-weight: 900;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.square {
  display: block;
  margin-inline: auto;
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
}

.square.white {
  background-color: #f0d9b5;
}

.square.black {
  background-color: #b58863;
}

.square.selected {
  background-color: #9863b5;
}

.square.possible {
  background-color: #be90d7;
}

.square.win {
  background-color: #078d10;
}

.square.lose {
  background-color: #cd1f42;
}

.chess_img {
  width: -webkit-fill-available;
}

.circle_container {
  position: relative;
  margin-inline: auto;
  width: 13rem;
  height: 13rem;
}

.circle {
  position: absolute;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.half_circle {
  position: absolute;
  transition: all 0.3s ease-in-out;
}

#key_div button {
  background-color: black;
}

#mode_div button {
  background-color: orange;
}

.arrow {
  width: 1rem;
  display: inline;
}

button.finished {
  background-color: rgb(42, 117, 42);
}