:root {
  --rich-black: #0e131f;
  --delft-blue: #38405f;
  --english-violet: #59546c;
  --cadet-gray: #8b939c;
  --imperial-red: #ff0035;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--rich-black);
  color: white;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

main {
  background-color: var(--delft-blue);
  color: white;
  padding: 20px;
}

.big-text {
  font-size: 50px;
  margin-bottom: 20px;
}

.content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.decorative-break {
  height: 100px;
  background-color: var(--english-violet);
}

footer {
  background-color: var(--cadet-gray);
  color: var(--imperial-red);
  padding: 10px;
  text-align: center;
}