<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Website Mockup</title>
		<link rel="shortcut icon" href="/static/img/favicon.png">
		<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
		<link rel="stylesheet" href="/static/css/custom.css">
    	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
	</head>
	<body>
	    <header>
	        <div id="logo">BIODIVER</div>
	        <nav>
	            <ul>
	                <li><a href="#">Log in</a></li>
	                <li><a href="#">Sign up</a></li>
	            </ul>
	        </nav>
	    </header>

	    {% block content %} {% endblock %}

	    <footer>Footer text</footer>

	</body>
</html>