{% extends "base.html" %}

{% block content %}
<div>
    <p>this is my test website</p>
    <p>i use it to learn web app basics</p>
    <p>some of it is in french i'm sorry</p>
    <p>reach me on x <b>@merelyacat</b></p>
    <p>green projects are the most polished projects</p>
    <form 
    hx-boost="true"
    hx-target="main"
    action="/"
    method="post">
        <button class="finished" name="button" value="jumelio" type="submit">jumelio</button>
        <button class="finished" name="button" value="echecs" type="submit">chess</button>
        <button name="button" value="triangle" type="submit">triangle</button>
        <button class="finished" name="button" value="circle" type="submit">circle</button>
        <button name="button" value="story" type="submit">story</button>
        <button name="button" value="turten" type="submit">turten</button>
    </form>
</div>
{% endblock %}