{% extends "base.html" %}

{% block content %}
<div>
    <p>test website</p>
    <p>just horsin' around</p>
    <form 
    hx-boost="true"
    hx-target="main"
    action="/"
    method="post">
        <button class="finished" name="button" value="jumelio" type="submit">jumelio</button>
        <button class="finished" name="button" value="echecs" type="submit">chess</button>
        <button name="button" value="triangle" type="submit">triangle</button>
        <button class="finished" name="button" value="circle" type="submit">circle</button>
        <button name="button" value="story" type="submit">story</button>
        <button name="button" value="turten" type="submit">turten</button>
    </form>
</div>
{% endblock %}
