{% extends 'base.html' %}

{% block title %} LRP {% endblock %}

{% block content %}
<form method="POST">
    <div class="grid">
        <div></div>
        <details role="list">
            <summary aria-haspopup="listbox" role="button">
            <img src="/static/img/flags/flag-antarctica.png" width="50" height="50">
            Ville D
            </summary>
            <ul role="listbox">
                <li><a>J1</a></li>
                <li><a>J2</a></li>
                <li><a>J3</a></li>
            </ul>
        </details>
        <div></div>
        <button>Ville A</button>
        <div></div>
    </div>
</form>
{% endblock %}