{% extends 'base.html' %}

{% block title %} LRP {% endblock %}

{% block content %}
<div class="grid">
    <div></div>
    <form method="POST">
        <details role="list">
            <summary aria-haspopup="listbox" role="button">
                <img src="/static/img/flags/flag-antarctica.png" width="30" height="30">
                {{ville_d}}
            </summary>
            <ul role="listbox">
                <li>
                    <button type="submit">Ville X</button>
                </li>
                <li><a>J2</a></li>
                <li><a>J3</a></li>
            </ul>
        </details>
    </form>
    <button>Ville X</button>
    <div></div>
</div>
{% endblock %}