{% extends 'base.html' %}

{% block title %} LRP {% endblock %}

{% block content %}
{% if win %}
    <dialog open>
        <article>
            <header>
                A winner is you!
            </header>
            <a href="/jml" role="button">Play again</a>
        </article>
  </dialog>
{% endif %}
<div class="grid">
    <div></div>
    <details role="list">
        <summary aria-haspopup="listbox" role="button">
            <img src="/static/img/flags/flag-antarctica.png" width="30" height="30">
            {{ville_d}}
        </summary>
        <ul role="listbox">
            <form method="POST">
                {% for ville in villes %}
                    <li><button type="submit" name="ville" value="{{ ville }}">{{ ville }}</button></li>
                {% endfor %}
            </form>
        </ul>
    </details>
    <form method="POST">
        <button type="submit" name="ville" value="{{ ville_a }}">{{ ville_a }}</button>
    </form>
    <div></div>
</div>
<div>
<p>Essayez d'atteindre {{ ville_a }}</p>
<p>Nombre d'étapes minimum : {{ etapes }}</p>
</div>
{% endblock %}