{% extends 'base.html' %}

{% block title %} LRP {% endblock %}

{% block content %}
	<form method="POST">
        <div class="grid">
            <div></div>
			<div>
                <button type="submit">Go !</button>
			</div>
			<div></div>
		</div>
	</form>
    <div class="space"></div>
    <div class="grid">
        <img src="/static/img/champs/img_{{leg1}}.webp" width="50" height="50">
        <img src="/static/img/champs/img_{{leg2}}.webp" width="50" height="50">
    </div>
{% endblock %}