{% extends 'base.html' %}

{% block title %} LRP {% endblock %}

{% block content %}
<div class="grid">
    <div></div>
    <img src="/static/img/champs/champ_{{leg1}}.webp" width="180" height="272">
    <div></div>
    <img src="/static/img/champs/champ_{{leg2}}.webp" width="180" height="272">
    <div></div>
</div>
<form method="POST">
    <div class="grid">
        <div></div>
		<div>
            <button type="submit">Roll champs</button>
		</div>
		<div></div>
	</div>
</form>
{% endblock %}