{% extends 'base.html' %}

{% block title %} LRP {% endblock %}

{% block content %}
	<form method="POST">
        <div class="grid">
            <div></div>
			<div>
                <button type="submit">Roll champs</button>
			</div>
			<div></div>
		</div>
	</form>
    <div class="space"></div>
    <div class="grid">
        <div></div>
        <img src="/static/img/champs/champ_{{leg1}}.webp">
        <img src="/static/img/champs/champ_{{leg2}}.webp">
        <div></div>
    </div>
{% endblock %}