{% extends 'base.html' %}

{% block title %} Uno Magique {% endblock %}

{% block content %}
<div class="grid">
	<div></div>
	<div>
		<p>Attendez le signal !</p>
		{% if reset %}
		<p>Reset success</p>
		{% endif %}
	</div>
	<div></div>
</div>
<form method="POST">
    <div class="grid">
        <div></div>
		<div>
            <input type="text" id="player" name="player" placeholder="Player name (facultatif)">
		</div>
		<div></div>
	</div>
    <div class="grid">
        <div></div>
		<div>
            <button type="submit">C'est parti !</button>
		</div>
		<div></div>
	</div>
</form>
{% endblock %}