{% extends 'base.html' %}

{% block title %} Uno Magique {% endblock %}

{% block content %}
<form method="POST">
	<div class="grid">
        <div></div>
		<div>
            <p>Attendez le signal !</p>
		</div>
		<div></div>
	</div>
    <div class="grid">
        <div></div>
		<div>
            <input type="text" id="player" name="player" placeholder="Player name" required>
		</div>
		<div></div>
	</div>
    <div class="grid">
        <div></div>
		<div>
            <button type="submit">Go !</button>
		</div>
		<div></div>
	</div>
</form>
{% endblock %}