{% extends 'base.html' %}

{% block title %} Uno Magique {% endblock %}

{% block content %}
<div class="grid">
    <div>
        <img class="container" src="/static/img/champs/champ_69.webp">
    </div>
    <div>
        <h2>{{ power_name }}</h2>
        <p>{{ power_desc }}</p>
    </div>
</div>
<div class="space"></div>
<div class="grid">
    <div></div>
    <div>
        <a href="{{url_for('um')}}" ><button type="submit">Nouvelle partie</button></a>
    </div>
    <div></div>
</div>
{% endblock %}