{% extends 'base.html' %}

{% block title %} Uno Magique {% endblock %}

{% block content %}
<div class="grid">
    <div>
        <img align="center" src="/static/img/um/um_{{ um_id }}.png">
    </div>
    <div>
        <h2>{{ power_name }}</h2>
        <div class="line"></div>
        <p>{{ power_desc }}</p>
        <p>Bonne chance {{ player_name }} !</p>
    </div>
</div>
<div class="space"></div>
<div class="grid">
    <div></div>
    <div>
        <a href="{{url_for('um')}}" ><button type="submit">Nouvelle partie</button></a>
    </div>
    <div></div>
</div>
{% endblock %}